<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>

<body>
    <%- include('../../partials/navbar') %>
    <% if (errors) { %>
        <% const realErrors = errors.replaceAll(',', ', ') %>
        <p style="color:red"><%= realErrors %> </p>
        <% } %>
        <% const {id, name, price, stock, description, category} = data %> ">
    <div class="w-screen h-screen flex justify-center items-center">
        <div class="w-1/4 rounded-lg shadow-xl p-10 md:flex">
            <div class="md:p-auto my-auto">
                <h3 class="text-4xl font-bold flex justify-center items-center">Edit Item</h3>
                    <form action="/seller/item/<%=id%>/edit" method="post">

                    <span class="text-sm">Name</span>
                    <input type="text" name="name" class="w-full border bg-accent px-4 py-1 rounded-lg" value="<%= name %>">
                    
                    <span class="text-sm">Price</span>
                    <input type="number" name="price" class="w-full border bg-accent px-4 py-1 rounded-lg" value="<%= price %>">    

                    <span class="text-sm">Stock</span>
                    <input type="text" name="stock" class="w-full border bg-accent px-4 py-1 rounded-lg" value="<%= stock %>">

                    <span class="text-sm">Description</span>
                    <textarea name="description" class="w-full border bg-accent px-4 py-1 rounded-lg"><%= description %>"</textarea>

                    <span class="text-sm">Category</span>
                    <select name="category" class="w-full border bg-accent px-4 py-1 rounded-lg">
                        <option value=""hidden>category</option>
                        <% if (category === "Motorcycle") { %>
                            <option value="Motorcycle" selected>Motorcycle</option>
                        <% } else {%>
                            <option value="Motorcycle">Motorcycle</option>
                        <% } %>
                        <% if (category === "Car") { %>
                            <option value="Car" selected>Car</option>
                        <% } else {%>
                            <option value="Car">Car</option>
                        <% } %>
                    </select>
                    <input type="submit" value="Add" class="font-bold w-full bg-gray text-white px-3 py-1 rounded-lg mt-4">
                </form>
                <a href="/seller/items">
                    <button class="font-bold w-full bg-gray text-white px-3 py-1 rounded-lg mt-4">Back</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>