<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/navbar') %>
    <div class="w-screen h-screen flex justify-center items-center">
        <div class="w-3/4 px-12 py-4 rounded-lg shadow-md">
            <a href="/seller/addItem" class="">
                <button class="w-1/4 bg-gray my-6 rounded-lg">Add item</button>
            </a>
            <div class="h-96 grid grid-cols-5 gap-5 overflow-auto pb-5">
                <% data.forEach(({id, name, price, stock, description, category, photo}) => { %>
                <div class="w-full h-75 shadow-xl rounded-lg">
                    <img src="<%=`/${photo}`%>" alt="" class="w-full h-36 rounded-t-lg">
                    <div class="">
                        <p class="font-semibold pl-4 text-base"><%= name %></p>
                        <p class="pl-4 text-sm"><%= Item.addDot(creatingRupiah(price)) %></p>
                    </div>
                    <div class="ml-2">
                        <p class="pl-2 text-sm">Category: <%= category %></p>
                        <p class="pl-2 text-sm">Stock: <%=stock%></p>

                    </div>
                    <div class="">
                        <a href="/seller/item/<%= id %>/edit" class="flex justify-center items-center font-semibold">
                            <button class="w-full bg-gray px-3 mx-3 my-1 rounded-lg">edit</button>
                        </a>
                        <a href="/seller/item/<%= id %>/delete" class="flex justify-center items-center font-semibold">
                            <button class="w-full bg-gray px-3 mx-3 my-1 rounded-lg">delete</button>
                        </a>
                    </div>
                </div>
                <% }) %>
            </div>
            
        </div>      
    </div>
</body>
</html>
</body>
</html>